.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all .4s ease-in-out;
  z-index: 100;
  overflow: hidden;
  .navbar {
    background: rgba(0,24,40,.9);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.15);
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all .5s ease-in-out;
    z-index: 2;
  }

  .container {
    position: relative;
  }

  .row-line {
    align-items: center;
  }

  .column-logo {
    width: 20%;
  }

  .column-menu {
    width: 80%;
    display: flex;
    justify-content: flex-end;
  }
}