.navbar-nav {
  padding: 0;
  list-style: none;
   li {
      display: inline-block;
      position: relative;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0 2px;
      @media (max-width: 1199.98px) {
        width: 100%;
      }
      &:hover {
        > a {
          color: #50CBCB;
        }
      }
      &.current_page_parent,
      &.current-menu-item {
        > a {
          color: #50CBCB;
          &:not([href]) {
            color: #50CBCB;
          }
        }
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      &:after {
        content: '/';
        padding-left: 5px;
        color: #50CBCB;
        font-size: 14px;
        font-weight: 700;
        @media (max-width: 1199.98px) {
          display: none;
        }
      }
      > a {
        position: relative;
        display: inline-block;
        line-height: 20px;
        padding: 5px 0;
        text-decoration: none;
        font-weight: 700;
        color: #fff;
        @media (max-width: 1199.98px) {
          text-transform: uppercase;
          padding: 10px 0;
          font-size: 14px;
          font-weight: normal;
        }
        &:not([href]) {
          color: #fff;
        }
      }

     .sub-menu {
       position: absolute;
       top: 100%;
       left: 0;
       opacity: 0;
       visibility: hidden;
       z-index: 2;
       background-color: #fff;
       padding: 8px 0;
       list-style: none;
       border-radius: 2px;
       box-shadow: 0 1px 2px 0 rgba(50,50,50,.2);
       transition: opacity .4s ease-in-out,top .2s ease-in-out;
       @media (max-width: 1199.98px) {
         background: none;
         padding-left: 25px;
         opacity: 1;
         visibility: visible;
         position: relative;
         box-shadow: 0 0 0;
       }
       &:before {
         content: '';
         position: absolute;
         top: -4px;
         left: 30px;
         width: 0;
         height: 0;
         border-left: 4px solid transparent;
         border-right: 4px solid transparent;
         border-bottom: 4px solid #fff;
         @media (max-width: 1199.98px) {
           display: none;
         }
       }
       li {
         padding: 5px 0;
         border-bottom: 1px solid #ebeef8;
         &:after {
           display: none;
         }
         @media (max-width: 767px) {
           border-bottom: none;
         }
         &:last-child {
           border-bottom: none;
         }
         a {
           display: block;
           text-transform: none;
           text-decoration: none;
           padding: 0 15px;
           white-space: nowrap;
           min-width: 150px;
           font-size: 12px;
           color: #333;
           transition: opacity .3s ease-in-out;
           @media (max-width: 1199.98px) {
             color: #fff;
             font-size: 14px;
             padding: 0;
             min-width: 100%;
           }
           &:hover {
             color: #2f9f9f;
           }
         }
       }
     }
     &:hover {
       .sub-menu {
         top: 100%;
         opacity: 1;
         visibility: visible;
       }
     }
   }
}

.header__holder-nav {
  @media (max-width: 1199.98px) {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 80px 0 45px 45px;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
    background: rgba(0,0,0,.9);
    overflow: auto;
    z-index: 3;
  }
}

.open-nav {
  .header__holder-nav {
    @media (max-width: 1199.98px) {
      transform: translate3d(0,0,0);
    }
  }
}


@media (min-width: 768px) and (max-width: 1023px) {

}
