.site-content.row-line{
  justify-content: space-between;
  padding: 80px 0;
}

.main{
  width: 100%;
  a{
    color: #50CBCB;
    &:hover{
      color: #2f9f9f;
    }
  }
  @media (min-width: 767px) {
    padding-right: 30px;
    width: 66.666%;
  }
  .post-item{
    margin-bottom: 60px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.08);
  }

  .post-inner {
    padding: 40px 30px 60px;

    .post-meta {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: .9rem;
      color: #e9ecef;

      li {
        position: relative;
        display: inline-block;
        padding: 0 10px;

        &:first-child {
          padding-left: 0;
        }

        &:before {
          position: absolute;
          top: 5px;
          left: -3px;
          width: 1px;
          height: 10px;
          background: #e9ecef;
          content: '';
        }
      }
    }

    .post-comment{
      margin-bottom: 25px;
    }
  }
  .comment-warning{
    margin-top: 10px;
  }

  .comment-total{
    margin: 30px 0 40px;
  }
}


.sidebar-wrapper{
  display: none;
  @media (min-width: 767px) {
    display: block;
    width: 33.333%;
  }
}