.container,
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.container {
  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.row-line {
  display: flex;
  flex-wrap: wrap;
}

.section {
  padding: 60px 0 45px;
  @media (min-width: 768px) {
    padding: 110px 0 95px;
  }
}
