.section-base{
   background: radial-gradient(circle,#64d1d1,#3cc5c5);
   h1, h2{
    color: white;
   }

  ul{
    list-style: disc;
    margin-bottom: 1rem;
    padding-left: 40px;
  }
   .advance-item{
        width: 100%;
        @media (min-width: 767px) {
           width: 50%;
        }
   }
   .advance-photo-gallery-wrap{
       height: 300px;
   }
   .advance-gallery{
        width: 290px;
        height: 210px;
        margin-top: 75px;
        display: inline-block;
        position: relative;
        @media (min-width: 767px) {
           width: 460px;
            height: 338px;
        }
   }

   .advance-text{
       position: relative;
       padding: 35px 35px 15px;
       color: #fff;
       font-size: 16px;
       background: #35b3b3;
       text-align: justify;
   }
}