.section-whywe {
    position: relative;
    background: url(../images/nobg.png) center center fixed #ebeef6;
  .column {
    width: 100%;
    text-align: justify;
<<<<<<< HEAD
    padding-right: 15px;
    padding-left: 15px;
=======
    padding: 15px;
>>>>>>> d2bf3f9d0f7be60f8b6cf8ddd01c61aed9319d8d
    @media (min-width: 992px) {
      width: 50%;
    }
  }
  .whywe-list {
    padding: 0;
    list-style: none;
    @media (min-width: 992px) {
      margin-bottom: 45px;
    }

    li {
      padding: 0 0 0 65px;
      margin-bottom: 30px;
      position: relative;
<<<<<<< HEAD
    }

    i {
      top: 0;
      left: 25px;
      position: absolute;
      font-size: 25px;
      color: #50CBCB;
      @media (min-width: 768px) {
=======
      &:before{
        position: absolute;
        content: '';
        top:0;
>>>>>>> d2bf3f9d0f7be60f8b6cf8ddd01c61aed9319d8d
        left: 0;
      }
      &.icon-thumbs-up:before {
        content: "\f164";
      }

      &.icon-bullhorn:before {
        content: "\f0a1";
        font-family: 'FontAwesome';
      }

      &.icon-flag:before {
        content: "\f024";
      }

      &.icon-star:before {
        content: "\f005";
      }

      &.icon-shield-alt:before {
        content: "\f3ed";
        font-family: 'FontAwesome';
      }

      &.icon-users:before {
        content: "\f0c0";
        font-family: 'FontAwesome';
      }
    }
    .icon-star:before{
      background: url("../images/icon1.jpg") no-repeat;
      height: 47px;
      width: 50px;
    }
    .icon-shield-alt:before{
      background: url("../images/icon2.jpg") no-repeat;
      height: 49px;
      width: 48px;
    }
    .icon-users:before{
      background: url("../images/icon3.jpg") no-repeat;
      height: 50px;
      width: 46px;
    }
    .icon-thumbs-up:before{
      background: url("../images/icon4.jpg") no-repeat;
      height: 49px;
      width: 55px;
    }
    .icon-bullhorn:before{
      background: url("../images/icon5.jpg") no-repeat;
      height: 36px;
      width: 57px;
    }
    .icon-flag:before{
      background: url("../images/icon6.jpg") no-repeat;
      height: 46px;
      width: 47px;
    }

    h3 {
      font-size: 24px;
    }

    p {
      margin: 0;
    }
  }
}
