.section-testimonials{
    position: relative;
    background: url(../images/bg_testimonials_sm.jpg) center center fixed #001828;
    z-index: 1;
    padding: 110px 0 95px;
    @media (min-width: 576px) {
        background: url(../images/bg_testimonials_md.jpg) center center fixed #001828;
    }
    @media (min-width: 767px) {
        background: url(../images/bg_testimonials_xl.jpg) center center fixed #001828;
        padding-bottom: 0;
    }
    .heading-text{
        color: #fff;
    }

    &:before{
        position: absolute;
        background: rgba(0,24,40,.9);
        z-index: -1;
    }

    .testimonials-video-wrap{
        width: 100%;
        @media (min-width: 767px) {
            width: 58.333%;
        }

        .testimonials-video--l{
            background: none;
            padding: 40px 158px 0 45px;
            width: 651px;
            height: 469px;
            margin-bottom: 0;
            @media (min-width: 767px) {
                background: url(../images/ipad.png) no-repeat;
                padding: 40px 45px 0 159px;
            }

            .video-slider-item{
                height: 338px;
            }

            .unslider-nav{
                margin-top: 10px;
                li{
                    background: rgba(150,150,150,.1);
                    cursor: pointer;
                    height: 16px;
                    width: 16px;
                    display: inline-block;
                    z-index: -9999;
                    margin: 0 10px;
                    position: relative;
                    box-shadow: 0 1px 1px rgba(80,203,203,.4), inset 0 1px 1px rgba(0,0,0,.1), 0 0 0 2px rgba(80,203,203,.5);
                    border-radius: 50%;
                    transition: all 2s;
                }
            }
        }
    }

    .testimonials-messages{
        width: 100%;
        visibility: visible;
        animation-name: slideInRight;
        padding-left: 5px;
        padding-right: 15px;
        text-align: center;
        @media (min-width: 767px) {
            width: 41.666%;
        }

        .testimonials-btn{
            color: #50CBCB;
            border: 1px solid #50CBCB;
            display: inline-block;
            padding: 5px 10px;

            &:hover{
              color: white;
              background-color: #50CBCB;
              border-color: #50CBCB;
              text-decoration: none;
            }
        }
    }

    .slideInRight{
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight;
    }

}

.section-testimonials:before{
    content: "";
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    right: 0;
}